# Finding Nearest pair of Latitude and Longitude match

In [ ]:
!pip install geopandas

Collecting geopandas
  Downloading geopandas-0.9.0-py2.py3-none-any.whl (994 kB)
     |████████████████████████████████| 994 kB 2.7 MB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.0-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 55.3 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 37 kB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.5.30)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.9.0 munch-2.5.0 pyproj-3.2.0

In [ ]:
# imports 
import pandas as pd
from shapely.ops import nearest_points
import geopandas

In [ ]:
# upload data 
province_df = pd.read_csv('/content/Province_data.csv', delimiter= ";")
weather_df = pd.read_csv('/content/weather_knmi_stations_2018.csv', delimiter= ";")
yield_df = pd.read_csv('/content/Yield_data_cbs.csv', delimiter= ";")

In [ ]:
province_df.head(1)

                     Geo Point  ... Gemeente code (with prefix)
0  51.5131976789,4.42451793279  ...                      GM1674

[1 rows x 10 columns]

In [ ]:
weather_df.head(1)

   STN        LON        LAT  ALT    NAME
0        209   4.518  52.465  0.0  IJMOND

In [ ]:
yield_df.head(1)

     ID FarmTypes Regions  ... OtherPoultry_147  Rabbits_148  FurredAnimals_149
0  2877   A009481    NL01  ...                9            3                  3

[1 rows x 153 columns]

# GET NEAREST WEATHER STATION FOR EACH PROVINCE

In [ ]:
gpd = geopandas.GeoDataFrame(
    weather_df, geometry=geopandas.points_from_xy(weather_df['LON   '], weather_df.LAT))

In [ ]:
gpd.head(1)

   STN        LON        LAT  ...    NAME                  geometry        Nearest
0        209   4.518  52.465  ...  IJMOND  POINT (4.51800 52.46500)  Noord-Holland

[1 rows x 7 columns]

In [ ]:

province_df[['LAT', 'LON']] = province_df['Geo Point'].str.split(',', expand=True)

In [ ]:
gpd2 = geopandas.GeoDataFrame(
    province_df, geometry=geopandas.points_from_xy(province_df.LON, province_df.LAT))

In [ ]:
from shapely.ops import nearest_points
# unary union of the gpd2 geomtries 
pts3 = gpd2.geometry.unary_union
def near(point, pts=pts3):
     # find the nearest point and return the corresponding Place value
     nearest = gpd2.geometry == nearest_points(point, pts)[1]
     return gpd2[nearest]['Provincie name'].to_numpy()[0]
gpd['Nearest'] = gpd.apply(lambda row: near(row.geometry), axis=1)

In [ ]:
gdf.Nearest.unique()

array(['Noord-Holland', 'Zuid-Holland', 'Fryslân', 'Flevoland', 'Utrecht',
       'Overijssel', 'Gelderland', 'Drenthe', 'Groningen', 'Zeeland',
       'Noord-Brabant', 'Limburg'], dtype=object)

In [ ]:
from shapely.ops import nearest_points
# unary union of the gpd2 geomtries 
pts3 = gpd.geometry.unary_union
def near(point, pts=pts3):
     # find the nearest point and return the corresponding Place value
     nearest = gpd.geometry == nearest_points(point, pts)[1]
     return gpd[nearest]['NAME'].to_numpy()[0]
gpd2['Nearest'] = gpd2.apply(lambda row: near(row.geometry), axis=1)

# MAP NEAREST WEATHER STATION TO PROVINCE IN YIELD DATA

In [ ]:
yield_df.head(1)

     ID FarmTypes Regions  ... OtherPoultry_147  Rabbits_148  FurredAnimals_149
0  2877   A009481  NL01    ...                9            3                  3

[1 rows x 153 columns]

In [ ]:
yield_df['Regions'] = yield_df.Regions.str.strip()

In [ ]:
yield_df.Regions.unique()

array(['NL01', 'LD01', 'LD02', 'LD03', 'LD04', 'PV20', 'PV21', 'PV22',
       'PV23', 'PV24', 'PV25', 'PV26', 'PV27', 'PV28', 'PV29', 'PV30',
       'PV31', 'CR01', 'CR02', 'CR03', 'CR04', 'CR05', 'CR06', 'CR07',
       'CR08', 'CR09', 'CR10', 'CR11', 'CR12', 'CR13', 'CR14', 'CR15',
       'CR16', 'CR17', 'CR18', 'CR19', 'CR20', 'CR21', 'CR22', 'CR23',
       'CR24', 'CR25', 'CR26', 'CR27', 'CR28', 'CR29', 'CR30', 'CR31',
       'CR32', 'CR33', 'CR34', 'CR35', 'CR36', 'CR37', 'CR38', 'CR39',
       'CR40', 'LG01', 'LG02', 'LG03', 'LG04', 'LG05', 'LG06', 'LG07',
       'LG08', 'LG09', 'LG10', 'LG11', 'LG12', 'LG13', 'LG14', 'LB2001',
       'LB2002', 'LB2003', 'LB2004', 'LB2005', 'LB2006', 'LB2101',
       'LB2102', 'LB2103', 'LB2104', 'LB2201', 'LB2202', 'LB2203',
       'LB2204', 'LB2205', 'LB2301', 'LB2302', 'LB2303', 'LB2304',
       'LB2401', 'LB2402', 'LB2501', 'LB2502', 'LB2503', 'LB2504',
       'LB2505', 'LB2506', 'LB2507', 'LB2508', 'LB2601', 'LB2602',
       'LB2603', 'LB2604', 'LB2605', 'LB2701', 'LB2702', 'LB2703',
       'LB2704', 'LB2705', 'LB2706', 'LB2707', 'LB2708', 'LB2801',
       'LB2802', 'LB2803', 'LB2804', 'LB2805', 'LB2806', 'LB2807',
       'LB2808', 'LB2809', 'LB2901', 'LB2902', 'LB2903', 'LB3001',
       'LB3002', 'LB3003', 'LB3004', 'LB3005', 'LB3006', 'LB3007',
       'LB3008', 'LB3009', 'LB3010', 'LB3101', 'LB3102'], dtype=object)

In [ ]:
province_map = {'PV20':	'Groningen',
'PV21':	'Fryslân',
'PV22':	'Drenthe',
'PV23':	'Overijssel',
'PV24':	'Flevoland',
'PV25':	'Gelderland',
'PV26':	'Utrecht',
'PV27':	'Noord-Holland',
'PV28':	'Zuid-Holland',
'PV29':	'Zeeland',
'PV30':	'Noord-Brabant',
'PV31':	'Limburg'}

In [ ]:
yield_province_df = yield_df.loc[yield_df['Regions'].isin(list(province_map.keys()))]

In [ ]:
yield_province_df.head()

       ID FarmTypes Regions  ... Rabbits_148  FurredAnimals_149   Province
105  2982   A009481    PV20  ...           0                  0  Groningen
106  2983   A009481    PV20  ...           0                  0  Groningen
107  2984   A009481    PV20  ...           0                  0  Groningen
108  2985   A009481    PV20  ...           0                  0  Groningen
109  2986   A009481    PV20  ...           0                  0  Groningen

[5 rows x 154 columns]

In [ ]:
yield_province_df["Province"] = yield_province_df["Regions"].map(province_map)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
# Get 1 weather station for each province

top_weather_station = gdf.groupby(['Nearest']).max()

In [ ]:
top_weather_station

               STN        LON        LAT    ALT             NAME
Nearest
Drenthe              280   6.585  53.125   15.8        HOOGEVEEN
Flevoland            269   5.520  52.649    7.3         LELYSTAD
Fryslân              277   6.200  53.413   10.8         VLIELAND
Gelderland           356   6.657  52.069   48.2           HUPSEL
Groningen            286   7.150  53.575    0.0     NIEUW BEERTA
Limburg              391   6.197  51.498  114.3       MAASTRICHT
Noord-Brabant        375   5.707  51.659   22.6      WOENSDRECHT
Noord-Holland        257   5.174  52.928    8.5           IJMOND
Overijssel           290   6.891  52.703   34.8          TWENTHE
Utrecht              348   5.274  52.130   13.9      SOESTERBERG
Zeeland              331   4.193  51.768    8.0   WILHELMINADORP
Zuid-Holland         344   4.447  52.171   11.9      VOORSCHOTEN

In [ ]:
province_yield_station_df = top_weather_station.merge(yield_province_df, how='left', left_on= 'Nearest', right_on= "Province")

In [ ]:
#Get year columns

province_yield_station_df['Year'] = province_yield_station_df['Periods'].astype(str).str[0:4]

In [ ]:
province_yield_station_df['Year']= pd.to_numeric(province_yield_station_df['Year'], errors='coerce')

In [ ]:
province_yield_station_df.head()

   STN        LON        LAT  ...  FurredAnimals_149 Province  Year
0        280   6.585  53.125  ...                  0  Drenthe  2000
1        280   6.585  53.125  ...                  0  Drenthe  2001
2        280   6.585  53.125  ...                  0  Drenthe  2002
3        280   6.585  53.125  ...                  0  Drenthe  2003
4        280   6.585  53.125  ...                  0  Drenthe  2004

[5 rows x 160 columns]

In [ ]:
# clean column names 

province_yield_station_df= province_yield_station_df.rename(columns=lambda x: x.strip())

# WEATHER DATA

# Column metadata
YYYYMMDD  = Datum (YYYY=jaar MM=maand DD=dag) / Date (YYYY=year MM=month DD=day)
DDVEC     = Vectorgemiddelde windrichting in graden (360=noord, 90=oost, 180=zuid, 270=west, 0=windstil/variabel). Zie http://www.knmi.nl/kennis-en-datacentrum/achtergrond/klimatologische-brochures-en-boeken / Vector mean wind direction in degrees (360=north, 90=east, 180=south, 270=west, 0=calm/variable)
FHVEC     = Vectorgemiddelde windsnelheid (in 0.1 m/s). Zie http://www.knmi.nl/kennis-en-datacentrum/achtergrond/klimatologische-brochures-en-boeken / Vector mean windspeed (in 0.1 m/s)
FG        = Etmaalgemiddelde windsnelheid (in 0.1 m/s) / Daily mean windspeed (in 0.1 m/s)
FHX       = Hoogste uurgemiddelde windsnelheid (in 0.1 m/s) / Maximum hourly mean windspeed (in 0.1 m/s)
FHXH      = Uurvak waarin FHX is gemeten / Hourly division in which FHX was measured
FHN       = Laagste uurgemiddelde windsnelheid (in 0.1 m/s) / Minimum hourly mean windspeed (in 0.1 m/s)
FHNH      = Uurvak waarin FHN is gemeten / Hourly division in which FHN was measured
FXX       = Hoogste windstoot (in 0.1 m/s) / Maximum wind gust (in 0.1 m/s)
FXXH      = Uurvak waarin FXX is gemeten / Hourly division in which FXX was measured
TG        = Etmaalgemiddelde temperatuur (in 0.1 graden Celsius) / Daily mean temperature in (0.1 degrees Celsius)
TN        = Minimum temperatuur (in 0.1 graden Celsius) / Minimum temperature (in 0.1 degrees Celsius)
TNH       = Uurvak waarin TN is gemeten / Hourly division in which TN was measured
TX        = Maximum temperatuur (in 0.1 graden Celsius) / Maximum temperature (in 0.1 degrees Celsius)
TXH       = Uurvak waarin TX is gemeten / Hourly division in which TX was measured
T10N      = Minimum temperatuur op 10 cm hoogte (in 0.1 graden Celsius) / Minimum temperature at 10 cm above surface (in 0.1 degrees Celsius)
T10NH     = 6-uurs tijdvak waarin T10N is gemeten / 6-hourly division in which T10N was measured; 6=0-6 UT, 12=6-12 UT, 18=12-18 UT, 24=18-24 UT
SQ        = Zonneschijnduur (in 0.1 uur) berekend uit de globale straling (-1 voor <0.05 uur) / Sunshine duration (in 0.1 hour) calculated from global radiation (-1 for <0.05 hour)
SP        = Percentage van de langst mogelijke zonneschijnduur / Percentage of maximum potential sunshine duration
Q         = Globale straling (in J/cm2) / Global radiation (in J/cm2)
DR        = Duur van de neerslag (in 0.1 uur) / Precipitation duration (in 0.1 hour)
RH        = Etmaalsom van de neerslag (in 0.1 mm) (-1 voor <0.05 mm) / Daily precipitation amount (in 0.1 mm) (-1 for <0.05 mm)
RHX       = Hoogste uursom van de neerslag (in 0.1 mm) (-1 voor <0.05 mm) / Maximum hourly precipitation amount (in 0.1 mm) (-1 for <0.05 mm)
RHXH      = Uurvak waarin RHX is gemeten / Hourly division in which RHX was measured
PG        = Etmaalgemiddelde luchtdruk herleid tot zeeniveau (in 0.1 hPa) berekend uit 24 uurwaarden / Daily mean sea level pressure (in 0.1 hPa) calculated from 24 hourly values
PX        = Hoogste uurwaarde van de luchtdruk herleid tot zeeniveau (in 0.1 hPa) / Maximum hourly sea level pressure (in 0.1 hPa)
PXH       = Uurvak waarin PX is gemeten / Hourly division in which PX was measured
PN        = Laagste uurwaarde van de luchtdruk herleid tot zeeniveau (in 0.1 hPa) / Minimum hourly sea level pressure (in 0.1 hPa)
PNH       = Uurvak waarin PN is gemeten / Hourly division in which PN was measured
VVN       = Minimum opgetreden zicht / Minimum visibility; 0: <100 m, 1:100-200 m, 2:200-300 m,..., 49:4900-5000 m, 50:5-6 km, 56:6-7 km, 57:7-8 km,..., 79:29-30 km, 80:30-35 km, 81:35-40 km,..., 89: >70 km)
VVNH      = Uurvak waarin VVN is gemeten / Hourly division in which VVN was measured
VVX       = Maximum opgetreden zicht / Maximum visibility; 0: <100 m, 1:100-200 m, 2:200-300 m,..., 49:4900-5000 m, 50:5-6 km, 56:6-7 km, 57:7-8 km,..., 79:29-30 km, 80:30-35 km, 81:35-40 km,..., 89: >70 km)
VVXH      = Uurvak waarin VVX is gemeten / Hourly division in which VVX was measured
NG        = Etmaalgemiddelde bewolking (bedekkingsgraad van de bovenlucht in achtsten, 9=bovenlucht onzichtbaar) / Mean daily cloud cover (in octants, 9=sky invisible)
UG        = Etmaalgemiddelde relatieve vochtigheid (in procenten) / Daily mean relative atmospheric humidity (in percents)
UX        = Maximale relatieve vochtigheid (in procenten) / Maximum relative atmospheric humidity (in percents)
UXH       = Uurvak waarin UX is gemeten / Hourly division in which UX was measured
UN        = Minimale relatieve vochtigheid (in procenten) / Minimum relative atmospheric humidity (in percents)
UNH       = Uurvak waarin UN is gemeten / Hourly division in which UN was measured
EV24      = Referentiegewasverdamping (Makkink) (in 0.1 mm) / Potential evapotranspiration (Makkink) (in 0.1 mm)

In [ ]:
# Average yearly temperatures
weather_data_df = pd.read_csv('/content/weather_KNMI_20181231.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,28,34,35,36,37,38,39,40) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
weather_data_df

        STN  YYYYMMDD  DDVEC  FHVEC     FG  ...     UX    UXH     UN    UNH   EV24
0       209  20010130                       ...
1       209  20010131                       ...
2       209  20010201    236     13     24  ...
3       209  20010202    150     46     58  ...
4       209  20010203    106     65     66  ...
...     ...       ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
804093  391  20181227    162      8     10  ...     97     20     69     13      3
804094  391  20181228    229     17     18  ...     98      3     83     17      2
804095  391  20181229    243     38     42  ...     97      4     74     23      1
804096  391  20181230    255     24     26  ...     99     21     78      1      2
804097  391  20181231    267     21     22  ...     99      1     87     22      1

[804098 rows x 41 columns]

In [ ]:
# Get year for the weather data 

weather_data_df['date'] = pd.to_datetime(weather_data_df['YYYYMMDD'],format='%Y%m%d', errors='coerce')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
weather_data_df['year'] = pd.DatetimeIndex(weather_data_df['date']).year

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
# select weather only from year 2000

weather_data_df = weather_data_df[weather_data_df['year'] >= 2000]

In [ ]:
weather_data_df.head(2)

   STN  YYYYMMDD  DDVEC  FHVEC     FG  ...     UN    UNH   EV24       date  year
0  209  20010130                       ...                      2001-01-30  2001
1  209  20010131                       ...                      2001-01-31  2001

[2 rows x 43 columns]

In [ ]:
weather_data_df.columns

Index(['STN', 'YYYYMMDD', 'DDVEC', 'FHVEC', '   FG', '  FHX', ' FHXH', '  FHN',
       ' FHNH', '  FXX', ' FXXH', '   TG', '   TN', '  TNH', '   TX', '  TXH',
       ' T10N', 'T10NH', '   SQ', '   SP', '    Q', '   DR', '   RH', '  RHX',
       ' RHXH', '   PG', '   PX', '  PXH', '   PN', '  PNH', '  VVN', ' VVNH',
       '  VVX', ' VVXH', '   NG', '   UG', '   UX', '  UXH', '   UN', '  UNH',
       ' EV24', 'date', 'year'],
      dtype='object')

In [ ]:
# remove white space 

weather_data_df= weather_data_df.rename(columns=lambda x: x.strip())

In [ ]:
weather_data_df = weather_data_df.apply(lambda x: pd.to_numeric(x, errors='coerce'))

In [ ]:
weather_data_df['year'] = weather_data_df['year'].astype(int)

In [ ]:
# get average yearly temperature 
grouped_weather = weather_data_df.groupby(['STN','year'])['DDVEC', 'FHVEC', 'FG', 'FHX', 'FHXH', 'FHN', 'FHNH',
       'FXX', 'FXXH', 'TG', 'TN', 'TNH', 'TX', 'TXH', 'T10N', 'T10NH', 'SQ',
       'SP', 'Q', 'DR', 'RH', 'RHX', 'RHXH', 'PG', 'PX', 'PXH', 'PN', 'PNH',
       'VVN', 'VVNH', 'VVX', 'VVXH', 'NG', 'UG', 'UX', 'UXH', 'UN', 'UNH',
       'EV24'].mean().reset_index()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [ ]:

province_yield_station_df['STN']= province_yield_station_df['STN'].astype(str)
province_yield_station_df['Year']= province_yield_station_df['Year'].astype(str)

In [ ]:
grouped_weather['STN']= grouped_weather['STN'].astype(str)
grouped_weather['year']= grouped_weather['year'].astype(str)

In [ ]:
# join on year and station

merged_weather_province_yield = pd.merge(grouped_weather, province_yield_station_df,  how='inner', left_on=['STN','year'], right_on =['STN','Year'])

# GET ONLY CROP DATA (DROP ANIMAL DATA)

In [ ]:
print(merged_weather_province_yield.columns)

Index(['STN', 'year', 'DDVEC', 'FHVEC', 'FG', 'FHX', 'FHXH', 'FHN', 'FHNH',
       'FXX',
       ...
       'ParentBirdsOfLayingHens_142', 'Broilers_143',
       'ParentBirdsOfBroilers_144', 'Turkeys_145', 'DucksForFattening_146',
       'OtherPoultry_147', 'Rabbits_148', 'FurredAnimals_149', 'Province',
       'Year'],
      dtype='object', length=200)

In [ ]:
str_1 = 'CattleTotal_84	YoungAnimalsForMilk_85	CalvesForFattening_86	YoungAnimalsForFattening_87	DairyCows2Years_88	OtherCowsTotal_89	CowsForFattening2Years_90	SucklingCows2Years_91	Bulls2YearsTotal_92	BullsForBreeding2Years_93	BullsForFattening2Years_94	Sheep_95	GoatsTotal_96	GoatsForMilking_97	OtherGoats_98	EquidaeTotal_99	Horses_100	Ponies_101	GrazingLivestockTotal_102	CattleTotal_103	YoungAnimalsForMilk_104	CalvesForFattening_105	YoungAnimalsForFattening_106	DairyCows2Years_107	OtherCowsTotal_108	CowsForFattening2Years_109	SucklingCows2Years_110	Bulls2YearsTotal_111	BullsForBreeding2Years_112	BullsForFattening2Years_113	Sheep_114	GoatsTotal_115	GoatsForMilking_116	OtherGoats_117	EquidaeTotal_118	Horses_119	Ponies_120	PigsTotal_121	Piglets_122	PigsForBreeding_123	PigsForFattening_124	ChickensTotal_125	LayingHens_126	ParentBirdsOfLayingHens_127	Broilers_128	ParentBirdsOfBroilers_129	Turkeys_130	DucksForFattening_131	OtherPoultry_132	Rabbits_133	FurredAnimals_134	HousedAnimalsTotal_135	PigsTotal_136	Piglets_137	PigsForBreeding_138	PigsForFattening_139	ChickensTotal_140	LayingHens_141	ParentBirdsOfLayingHens_142	Broilers_143	ParentBirdsOfBroilers_144	Turkeys_145	DucksForFattening_146	OtherPoultry_147	Rabbits_148	FurredAnimals_149'
chunks = str_1.split('\t')

In [ ]:
merged_weather_province_yield.drop(chunks, axis=1, inplace= True)

In [ ]:
merged_weather_province_yield

     STN  year       DDVEC  ...  ForagePlants_83       Province  Year
0    257  2001         NaN  ...              126  Noord-Holland  2001
1    257  2001         NaN  ...                1  Noord-Holland  2001
2    257  2002         NaN  ...              129  Noord-Holland  2002
3    257  2002         NaN  ...                1  Noord-Holland  2002
4    257  2003         NaN  ...              116  Noord-Holland  2003
..   ...   ...         ...  ...              ...            ...   ...
449  391  2016  186.661202  ...               33        Limburg  2016
450  391  2017  198.624658  ...              460        Limburg  2017
451  391  2017  198.624658  ...               53        Limburg  2017
452  391  2018  175.923077  ...              443        Limburg  2018
453  391  2018  175.923077  ...               44        Limburg  2018

[454 rows x 134 columns]

In [ ]:
merged_weather_province_yield['FarmTypes'].unique()

array(['A009481', 'A009497'], dtype=object)

In [ ]:
# GET FARM TYPE SPECIALIST FIELD CROPS = A009481

merged_weather_province_yield_special = merged_weather_province_yield[merged_weather_province_yield['FarmTypes']=='A009481']

In [ ]:
merged_weather_province_yield_special.to_csv('/content/merged_weather_yield_specialist_field_crop.csv')

In [ ]:
merged_weather_province_yield_perm = merged_weather_province_yield[merged_weather_province_yield['FarmTypes']=='A009497']
merged_weather_province_yield_perm.to_csv('/content/merged_weather_yield_specialist_pemanent_crop.csv')

In [ ]:
# There are two farm types, group by farm type
merged_weather_province_yield.sort_values(by=['FarmTypes'])

     STN  year       DDVEC  ...  ForagePlants_83       Province  Year
0    257  2001         NaN  ...              126  Noord-Holland  2001
260  331  2017  206.989041  ...              401        Zeeland  2017
258  331  2016  194.644258  ...              400        Zeeland  2016
256  331  2015  197.452055  ...              467        Zeeland  2015
254  331  2014  194.789041  ...              374        Zeeland  2014
..   ...   ...         ...  ...              ...            ...   ...
89   277  2007  206.328767  ...                0        Fryslân  2007
275  344  2005  203.432877  ...                6   Zuid-Holland  2005
277  344  2006  194.586301  ...                8   Zuid-Holland  2006
279  344  2007  201.213699  ...                8   Zuid-Holland  2007
453  391  2018  175.923077  ...               44        Limburg  2018

[454 rows x 134 columns]

In [ ]:
# move province
merged_weather_province_yield.to_csv('/content/merged_weather_yield.csv')